/*body*/

.container-body {
    width: 1280px;
    height: 864px;
    background-color: #f5f5fa;
    border: 2px solid#e7e7ed;
}


/*left box*/

.left-box {
    width: 264px;
    height: 60px;
    background-color: #1e2025;
    margin-top: -61px;
}

.left-box img {
    width: 169px;
    height: 20px;
    object-fit: contain;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 48px 20px 48px;
}


/*top bar*/

.top-bar {
    width: 1016px;
    height: 61px;
    background-color: #2f323a;
    margin-left: 264px;
}

.top-bar span {
    color: #fff;
    margin-left: 865px;
    padding-top: 20px;
    font-family: sans-serif;
}

.top-bar img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    background-color: #2f323a;
    padding-top: 20px;
    padding-left: 5px;
}


/*left menu*/

.left-menu {
    width: 264px;
    height: 740px;
    background-color: #2f323a;
    margin-top: -16px;
}

.left-menu ul li {
    list-style: none;
    padding: 0px 30px 30px 0px;
}

.left-menu ul li: active {
    background-color: #2f323a;
}

.left-menu ul .close {
    margin-top: 135px;
}

.left-menu_img {
    width: 18px;
    height: 11px;
    object-fit: contain;
}

.left-menu p {
    width: 75px;
    height: 19px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #575a5f;
    padding: 20px 20px 20px 35px;
}

.left-menu p .line {
    width: 215px;
    height: 2px;
    border-bottom: solid 2px #373b42;
    padding: 24px;
}

.left-menu_options {
    width: 65px;
    height: 19px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 18px;
}

.routerlink {
    color: #fff;
    text-decoration: none;
}


/*panels*/

.container-body .panels {
    width: 940px;
    height: 380px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    /* padding: 128px 418px 97px 39px; */
    margin-top: -730px;
    margin-left: 300px;
}

.container-body .panels .resize {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 840px;
}

.container-body .panels .resize img {
    padding: 5px;
}

.info-box {
    width: 680px;
    height: 345px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
    margin-top: -60px;
    margin-left: 150px;
}

.info-box p {
    margin-left: 65px;
    font-size: 11px;
}

.borderLine {
    width: 1px;
    height: 189px;
    background-color: #bfd0e1;
    /* border: solid 1px var(--light-blue-grey);*/
    margin-left: 955px;
    margin-top: -225px;
}

.panel2 {
    width: 680px;
    height: 390px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e7e7ed;
    margin-left: 300px;
    margin-top: 50px;
}

.panel3 {
    width: 230px;
    height: 290px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #e7e7ed;
    margin-left: 1010px;
    margin-top: -292px;
}

.news-panel1 {
    width: 295.138px;
    height: 447px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 310px;
    margin-top: -690px;
    border-radius: 4px;
}

.news-top .pic {
    width: 295.32px;
    height: 126.36px;
    left: 238.68px;
    top: 158.34px;
}

.news-top {
    padding-top: 10px;
}

.fa {
    margin-left: 95px;
}

.icons {
    color: #C0C8D1;
    margin-top: 120px;
    padding-left: 5px;
    border-top: 1px solid #ccc;
}

.icons-panel2 {
    color: #C0C8D1;
    margin-top: 105px;
    padding-left: 5px;
    border-top: 1px solid #ccc;
}

.icons-panel2 span img {
    padding-top: 15px;
}

.icons span img {
    padding-top: 15px;
}

.content {
    font-size: 12px;
    font-family: sans-serif;
    color: #76ACF7;
    margin-left: 20px;
}

.date {
    font-size: 12px;
    font-family: sans-serif;
    color: #DCDCDC;
    margin-left: 140px;
}

.title-text {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    color: #3F474E;
    padding-top: 5px;
}

.body-text {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    color: #676767;
    padding-top: 5px;
}

.news-panel2 {
    width: 295.138px;
    height: 288px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 635px;
    margin-top: -450px;
    border-radius: 4px;
}

.news-panel3 {
    width: 295.138px;
    height: 447px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 960px;
    margin-top: -290px;
    border-radius: 4px;
}

.news-panel4 {
    width: 295.138px;
    height: 209px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 310px;
    margin-top: 32px;
    border-radius: 4px;
}

.news-panel5 {
    width: 295.138px;
    height: 366px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 635px;
    margin-top: -368px;
    border-radius: 4px;
}

.news-panel6 {
    width: 295.138px;
    height: 209px;
    background-color: #fff;
    border: solid 1px #e7e7ed;
    margin-left: 960px;
    margin-top: -210px;
    border-radius: 4px;
}

.chart-head {
    color: blue;
}