<!-- Top bar -->
<div class="container-body">
    <div class="top-bar">
        <span>Admin Name </span> <img src="app/images/svg/shape.svg">
    </div>
    <!-- left bar -->
    <div class="left-box">
        <img src="app/images/svg/r-3-l-logo-application-02.svg">
    </div>
    <!-- left-menu -->
    <div class="left-menu">
        <p>NAVIGATE
        </p>
        <ul>
            <li>
                <span class="left-menu_img"><img src ="app/images/svg/analitycs.svg"></span> <span class="left-menu_options"><a class="routerlink" ui-sref="dashboard">Analytics</a></span>
            </li>
            <li>
                <span class="left-menu_img"><img src ="app/images/svg/newspaper-o.svg"></span> <span class="left-menu_options"><a class="routerlink" ui-sref="news">News</a></span>
            </li>
            <li>
                <span class="left-menu_img"><img src ="app/images/svg/board-brief.svg"></span> <span class="left-menu_options">Board Brief</span>
            </li>
            <li>
                <span class="left-menu_img"><img src ="app/images/svg/briefcase.svg"></span> <span class="left-menu_options">Briefcase</span>
            </li>
            <li class="close">
                <span class="left-menu_img"><img src ="app/images/svg/angle-double-left.svg"></span> <span class="left-menu_options">Close menu</span>
            </li>
        </ul>
    </div>
    <div class="panels">
        <p class="chart-head pull-left">Speed Zones</p>
        <span class="resize"><img src="app/images/svg/resize.svg"> <img src="app/images/svg/info-ico.svg"></span>
        <div class="info-box">
            <canvas class="chart chart-line" chart-data="lineData" chart-labels="lineLabels" chart-options="options" chart-dataset-override="lineDataSets">
            </canvas>
        </div>
    </div>
    <div class="borderLine">
    </div>
    <div class="panel2">
        <p class="chart-head pull-left">Count by zones</p>
        <canvas class="chart chart-bar" chart-data="barDataSet" chart-labels="barLabels" chart-series="barSeries">
        </canvas>
    </div>
    <div class="panel3">
        <p class="chart-head pull-left">Speed Average</p>
        <canvas class="chart chart-doughnut" chart-data="doughnutDataSet" chart-labels="doughnutLabels">
        </canvas>
    </div>
</div>