<!-- Top bar -->
<div class="container-body">
	<div class="top-bar">
		<span>Admin Name </span> <img src="app/images/svg/shape.svg">
	</div>
	<!-- left bar -->
	<div class="left-box">
		<img src="app/images/svg/r-3-l-logo-application-02.svg">
	</div>
	<!-- left-menu -->
	<div class="left-menu">
		<p>NAVIGATE
		</p>
		<ul>
			<li class="active">
				<span class="left-menu_img"><img src ="app/images/svg/analitycs.svg"></span> <span class="left-menu_options"><a class="routerlink" ui-sref="dashboard">Analytics</a></span>
			</li>
			<li>
				<span class="left-menu_img"><img src ="app/images/svg/newspaper-o.svg"></span> <span class="left-menu_options"><a class="routerlink" ui-sref="news">News</a></span>
			</li>
			<li>
				<span class="left-menu_img"><img src ="app/images/svg/board-brief.svg"></span> <span class="left-menu_options">Board Brief</span>
			</li>
			<li>
				<span class="left-menu_img"><img src ="app/images/svg/briefcase.svg"></span> <span class="left-menu_options">Briefcase</span>
			</li>
			<li class="close">
				<span class="left-menu_img"><img src ="app/images/svg/angle-double-left.svg"></span> <span class="left-menu_options">Close menu</span>
			</li>
		</ul>
	</div>
	<div class="news-panel1">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<img class="pic" src="app/images/001.jpg">
			<p class="body-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				type and scrambled it to make a type specimen book.</p>
			<div class="icons">
				<span><img src = "app/images/svg/brief.svg"></span>
				<span><i class="fa fa-thumbs-up" aria-hidden="true">132</i></span>
			</div>
		</div>
	</div>
	<div class="news-panel2">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<p class="body-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				type and scrambled it to make a type specimen book.</p>
			<div class="icons-panel2">
				<span><img src = "app/images/svg/brief.svg"></span>
				<span><i class="fa fa-thumbs-up" aria-hidden="true">132</i></span>
			</div>
		</div>
	</div>
	<div class="news-panel3">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<img class="pic" src="app/images/001.jpg">
			<p class="body-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				type and scrambled it to make a type specimen book.</p>
			<div class="icons">
				<span><img src = "app/images/svg/brief.svg"></span>
				<span><i class="fa fa-thumbs-up" aria-hidden="true">12</i></span>
			</div>
		</div>
	</div>
	<div class="news-panel4">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<img class="pic" src="app/images/001.jpg">
		</div>
	</div>
	<div class="news-panel5">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<img class="pic" src="app/images/001.jpg">
			<p class="body-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				type and scrambled it to make a type specimen book.</p>
		</div>
	</div>
	<div class="news-panel6">
		<div class="news-top">
			<span class="content">Content1</span><span class="date">Nov 15, 2016</span>
			<p class="title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<p class="body-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				type and scrambled it to make a type specimen book.</p>
		</div>
	</div>
</div>